<!-- <div class="subContainer">
  <div id="loginMain">
    <div>
      <label>User Name</label>
        <input type="number"[(ngModel)]="user.userId" name="userId"><br>
        <label>Password</label>
        <input type="password"[(ngModel)]="user.password" name="userPassword" >
      <button type="button" class="btn btn-primary"(click)="onClickLogin()">Primary</button>

</div> -->
<header id="header">
 <div class="card">
    <div class="card-header">Welcome to  - Login</div>
 <div class="card-body" id="cardb">
<form>
  <div class="form-group">
    <label for="User Id">User Id</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter User">
     </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
     </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>  
</div> 

</header>