<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 </div>
<h2>Here are some links to help you start: </h2>
<header>
  <div class="container">
     <nav>
      <ul>
       <li><a routerLink="/registration">Registration</a></li>
        <li><a routerLink="/login">Login</a></li>
        
        {{message}}
        <!-- <label>User Name</label>
        <input [(ngModel)]="user.userId" name="userId"><br>
        <label>Password</label>
        <input [(ngModel)]="user.password" name="userPassword" >
        <button type="button" class="btn btn-primary"(click)="hello(user)">Primary</button>

         <p>Hello {{username}}!</p>
        -->
      </ul>
    </nav>
  </div>
  
</header>
{{userName}}

<router-outlet></router-outlet>
